
<div class="container">
  <h2>File Uploaded : <span style="color: red;">{{data.name}}</span></h2> 
  <h2>Total Letters in your text file : <span style="color: red;">{{data.LETTERS}}</span></h2>

<center>
    <a class="btn btn-primary" href="/">Home</a>
</center> 
</div>